{% block title %}
{% include "global/title_Global.html" %}
{% endblock %}

{{ block styles }}
<link rel="stylesheet" href="{{ static 'global/global.css' }}">
{{ endblock }}

{{ block content }}
<div class="container">
    <div class="language-select">
        <h3>Université de Nouvelle Calédonie</h3>
        <p class="subtitle">IAE: L'Institut d'administration des entreprises</p>

        <div class="section-header" style="text-align: left;">
            <p><strong>Veuillez choisir votre langue / Please choose your language:</strong></p>
        </div>

        <div class="form-group">
            <div class="controls" style="justify-content: center;">
                <label><input type="radio" name="language" value="fr"> Français</label>
                <label><input type="radio" name="language" value="en"> English</label>
            </div>
        </div>

        <div class="submit-row">
            <button type="submit" class="otree-btn-next btn btn-primary">Commencer / Start</button>
        </div>
    </div>
</div>
{{ endblock }}
