{% block title %}
{% include "global/title_Global.html" %}
{% endblock %}

{{ block styles }}
<link rel="stylesheet" href="{{ static 'global/global.css' }}">
{{ endblock }}

{{ block content }}
<div class="container">
    <div class="thank-you">
        {% if lang == "fr" %}
            <h2>Merci!</h2>
            <p>Merci becaucoup de votre intérêt pour cette enquête. Malheureusement, vous ne remplissez pas les critères de participation.</p>
            <p>Nous vous remercions de votre temps.</p>
            <p>Nous vous serions très reconnaissants de bien vouloir partager le lien vers ce sondage avec votre famille et vos amis.</p>
        {% else %}
            <h2>Thank Your!</h2>
            <p>Thank you very much for your interest in this survey. Unfortunately, you do not meet the participation criteria.</p>
            <p>We appreciate your time.</p>
            <p>We would be very grateful, if you could share the link to the survey with your family and friends instead.</p>
        {% endif %}
    </div>
</div>
{{ endblock }}
