{% block title %}
{% include "global/title_Global.html" %}
{% endblock %}

{{ block styles }}
<link rel="stylesheet" href="{{ static 'global/global.css' }}">
{{ endblock }}

{{ block content }}
<div class="container">
    <div class="thank-you">
        {% if lang == "fr" %}
            <h2>Merci !</h2>
            <p>Merci d'avoir pris le temps de répondre à cette enquête.</p>
            <p>Vos réponses sont précieuses pour notre recherche sur les perceptions du tourisme et la qualité de vie des résidents dans les îles polynésiennes.</p>
            <p><em>Université de la Polynésie française<br>Centre d'Études sur le Tourisme en Océanie-Pacifique (CETOP)</em></p>
        {% else %}
            <h2>Thank You!</h2>
            <p>Thank you for taking the time to complete this survey.</p>
            <p>Your responses are valuable to our research on tourism perceptions and quality of life of residents in Polynesian islands.</p>
            <p><em>Université de la Polynésie française<br>Centre d'Études sur le Tourisme en Océanie-Pacifique (CETOP)</em></p>
        {% endif %}
    </div>
</div>
{{ endblock }}
